<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite" parallel="false">
    <test name="Functional Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.ProductSelectTest"/>
            <class name="tests.CartTest"/>
        </classes>
    </test>
</suite>
